/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Adaptaciones del estilo de <a> estándar*/
/* Todos los enlaces */
a {
  text-decoration: none; /* quita subrayado */
  color: inherit;        /* hereda color del contenedor */
  transition: color 0.3s ease; /* opcional, efecto suave */
}

/* Hover */
a:hover {
  color: #ff6600; /* o cualquier color que quieras */
}

/* Estado visitado */
a:visited {
  color: inherit; /* no cambia de color después de visitar */
}

/* Focus / active (accesibilidad) */
a:focus, a:active {
  outline: none;  /* opcional */
  color: #ff6600; 
}

/* Estilo general */
.header {
    display: flex;
    background-color: #c7e3ff;
    border-bottom: 5px solid #ef6c00;
    align-items: center;
    width: 100%;
    gap: 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 3px 5px rgba(0,0,0,0.40);
}
.título-logo{
    color: #1e88e5;
    display: flex;
    font-size: 0.6vw;
    font-family: Tahoma, sans-serif;
    align-items: center;
    gap: 4px;
    padding: 5px;
}

.título-logo img{
    height: 60px;
}

.letra-destacada{
    color: #ef6c00;
    font-size: 1.1vw;
    font-family: Tahoma, sans-serif;
}

.navbar{
    display: flex;
    height: 100%;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 80px;
}

.nav-list li{
    font-family: monospace;
    font-size: 1.2vw;
}

.logo-instituciones{
    margin-left:auto;
    display:flex;
    align-items:center;
    gap:10px;
}

.logo-instituciones img{
    height:40px;
    margin-right: 20px;
}

.titulo-cabecera{
    display: flex;
    flex-direction: column;
}

.container{
    padding: 40px 40px;

}

.cuerpo{
    padding: 40px 40px;
    background-color: #c7e3ff;
    border-radius: 20px;
    height: 10000px;
    align-items: center;
}

.hero{
    align-items: center;
    padding: 80px 80px;
    background-color: white;
    border-radius: 20px;
}

.hero-texto{
    color: #1e88e5;
    font-size: 2pw;
    font-family: Tahoma, sans-serif;
    text-align: center;
}
